name: ci

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"
          dotnet-quality: "preview"

      - name: Restore
        run: dotnet restore Solution/Solution.slnx

      - name: Build
        run: dotnet build Solution/Solution.slnx --configuration Release --no-restore

      - name: Test
        run: dotnet test Solution/Solution.slnx --configuration Release --no-build

  docker-build:
    runs-on: ubuntu-latest
    needs: build-test
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build WebApi image
        run: docker build -f Solution/WebApi/Dockerfile -t payment-api:ci Solution
